@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}
/* styling the header content */
header {
  position: fixed;
  font-family: "Poppins", sans-serif;
}

.nav_container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

.cmslogo {
  max-width: 116px;
  max-height: 56px;
  /* padding:s10px;
  margin: 10px; */
}
.navbar a {
  padding: 5px 10px;
  margin-left: 30px;
  border-left: solid black 1px;
  color: #0a0b0a;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.navbar a:hover {
  color: #0a0b0a;
  text-decoration: underline #50a0f6 2px;
}
.navbar .home {
  border-left: none;
  color: #7a417c;
  font-weight: 800;
}
.navbar .icon {
  display: none;
  border-left: none;
}
.navbar2 a {
  margin-left: 30px;
  color: #0a0b0a;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.sign_in {
  padding: 8px 16px;
  border: solid #7a417c 1px;
}
.register {
  padding: 8px 16px;
  border: solid #7a417c 1px;
  background-color: #0075f2;
}

.menu {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.menubtn {
  font-size: 1rem;
  border: none;
  color: #4e0250;
  padding: 14px 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.menubtn:hover {
  background-color: #0075f2;
}
.menu_content {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.menu:hover .menu_content {
  display: block;
}
.menu_content a {
  text-decoration: none;
  display: block;
  color: #7a417c;
  padding: 5px;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.menu_content a:hover {
  text-decoration: underline;
}
main {
  width: 90%;
  margin: auto;
}
/* styling the homepage content */

.homepage {
  width: 80%;
  padding: 15% 5%;
  display: flex;
}
.homepage_intro {
  margin-bottom: 20px;
  width: 60%;
}
.homepage_intro h3 {
  line-height: 50px;
  width: 100%;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}
span {
  color: #0075f2;
}
.homepage_intro p {
  line-height: 30px;
  width: 100%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.purpose {
  display: flex;
  width: 60%;
  justify-content: space-between;
  grid-area: b;
  padding: 0 3% 0 3%;
  margin-bottom: 5%;
}
.purpose .self {
  background-color: #0075f2;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 3px;
}
.purpose .business {
  background-color: #7a417c;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
}

.form input {
  margin-top: 20px;
  width: 48%;
  border: solid #7a417c 1px;
  border-radius: 4px;
  padding: 5px 10px;
}
.form button {
  background-color: #7a417c;
  color: white;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 4px;
}

.homepage_img1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 50px;
  text-align: start;
}
.homepage_img2 {
  width: 40%;
}

.homepage_img2 img {
  padding-right: 30%;
  margin: 0;
  width: 300%;
  height: auto;
  border-top-left-radius: 100px;
}
.templates_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.templates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.explore {
  font-family: "Poppins", sans-serif;
  font: size 22px;
  font-weight: 700;
  margin-bottom: 30px;
  word-spacing: 5px;
  text-align: center;
}
.more {
  font: size 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 80%;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}
.more:hover {
  text-decoration: underline #0075f2 2px;
}
.explore_btn {
  text-align: center;
  width: 80%;
  margin-top: 20px;
}
.explore_btn a {
  background-color: #7a417c;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.templates_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 50%;
}
.templates_img .first,
.last {
  height: 200px;
  width: 150px;
}
.templates_img .mid {
  height: 300px;
  width: 250px;
}
/* styling the build section */
.build_container {
  text-align: center;
  margin-top: 80px;
  padding: 5% 5%;
}
#build {
  font-size: 36px;
  font-weight: 700px;
  line-height: 70px;
  color: #4e0250;
}
.getcreative {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

figcaption {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.arrow {
  display: flex;
  align-items: center;
  font-weight: 700;
}
/* styling the services section */
.services_sec {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 5%;
}
.services_head {
  margin: auto;
  margin-bottom: 70px;
}
.services {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 70px;
  color: #4e0250;
}
.services_head p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.services_container1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.services_container2 {
  display: flex;
  justify-content: space-between;
}
.services_img {
  text-align: center;
}
.services_img img {
  width: 50px;
  height: 50px;
}
.services_img figcaption {
  width: 200px;
}
/* styling the pricing section */
#PRICING {
  margin-top: 70px;

  padding: 5%;
}
.pricing {
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
}
.pricing h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 70px;
  color: #4e0250;
}
.pricing p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.pricing_img {
  display: flex;
  justify-content: space-between;
}
.pricing_img .one {
  height: 380px;
}
.pricing_img .two {
  height: 415px;
}
/* styling the about section */
#ABOUT {
  display: flex;
  margin-top: 100px;
  padding: 5%;
}
.about_img {
  display: flex;
  padding-right: 20px;
}
.identity {
  margin-top: -30px;
  padding-bottom: 25px;
}

.about_text {
  padding-left: 100px;
}

.about_text h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-size: 700;
  line-height: 26.4px;
  text-align: left;
  padding-top: 20px;
  margin-bottom: 50px;
}
.about_text p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 28px;
  margin-bottom: 50px;
}
.about_text a {
  text-decoration: none;
  background-color: #89568a;
  color: white;
  padding: 3px 25px;
  border-radius: 4px;
}
/* styling the footer */
.foot_sec1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cce3fc;
  padding: 3% 20%;
}
.foot_text .text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  /* line-height: 19.2; */
}
.foot_text .text2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  width: 260px;
}
.subscribe input {
  line-height: 24px;
  padding: 3px 10px;
}
.subscribe button {
  background-color: #4e0250;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 22px;
  padding: 3px 10px;
  text-align: center;
}
.foot_sec2 {
  background-color: #002751;
}
.foot_sec2_container {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: flex-start;
}
.icon_logo {
  width: 70px;
  height: 36px;
}
.fa-facebook {
  background-color: #002751;
  width: 24px;
  height: 23.84px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
}
.fa-twitter {
  background-color: #002751;
  width: 30px;
  height: 30px;
  color: white;
  text-decoration: none;
}
.fa-instagram {
  background-color: #002751;
  width: 30px;
  height: 30px;
  color: white;
  text-decoration: none;
}
.fa-linkedin {
  background-color: #002751;
  width: 30px;
  height: 30px;
  color: white;
  text-decoration: none;
}
.fa-github {
  background-color: #002751;
  width: 30px;
  height: 30px;
  color: white;
  text-decoration: none;
}
.icon p {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: white;
}
.links h6 {
  font-family: "Poppins", sans-serif;
  width: 133px;
  height: 29px;
  color: #cce3fc;
  font-weight: 700;
  font-size: 1rem;
  line-height: 28.8px;
}
.links a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  line-height: 22.4px;
}
.contact h6 {
  font-family: "Poppins", sans-serif;
  width: 133px;
  height: 29px;
  color: #cce3fc;
  font-weight: 700;
  font-size: 1rem;
  line-height: 28.8px;
}
.contact p {
  color: white;
}
