@media only screen and (max-width: 599px) {
  /* navbar and homepage */
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .sign_in {
    margin-bottom: 10px;
  }
  .cmslogo {
    position: fixed;
    top: 0;
    width: 75px;
  }
  main {
    padding-top: 15%;
  }
  .value1,
  .value2,
  .value3 {
    display: block;
    width: 100%;
    margin: auto;
    padding: 2% 10%;
  }
  .value1 h3,
  .value2 h3,
  .value3 h3 {
    width: 100%;
  }
  .value1 .value_content,
  .value2 .value_content,
  .value3 .value_content {
    width: 100%;
  }

  .foot_sec1 {
    display: block;
  }

  .foot_sec2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 700px) and (min-width: 600px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .sign_in {
    margin-bottom: 10px;
  }
  .cmslogo {
    position: fixed;
    top: 0;
    width: 100px;
  }
  .value1,
  .value2,
  .value3 {
    display: block;
    width: 100%;
    margin: auto;
    padding: 2% 10%;
  }
  .value1 h3,
  .value2 h3,
  .value3 h3 {
    width: 100%;
  }
  .value1 .value_content,
  .value2 .value_content,
  .value3 .value_content {
    width: 100%;
  }

  .foot_sec1 {
    display: block;
    padding: 0 10px;
  }
  .foot_sec2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 995px) and (min-width: 701px) {
  /* navbar and homepage */
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .sign_in {
    margin-bottom: 10px;
  }
  .cmslogo {
    position: fixed;
    top: 0;
    width: 100px;
  }

  .value1,
  .value2,
  .value3 {
    display: block;
    width: 100%;
    margin: auto;
    padding: 2% 10%;
  }
  .value1 h3,
  .value2 h3,
  .value3 h3 {
    width: 100%;
  }
  .value1 .value_content,
  .value2 .value_content,
  .value3 .value_content {
    width: 100%;
  }

  .foot_sec1 {
    display: block;
  }
  .foot_sec2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
