* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    box-sizing: border-box;
}
.nav-area {
       display: flex;
       flex-direction: row;
       gap: 50%;
       margin-top: 30px;
}
.logo-area {
    height: 100px;
    width: 100px;
    margin-left: 200px;
}
.logo {
    width: 100%;
}
.profile-area {
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 50px;
    border: 1px dashed gray;
    margin-right: 200px;
}
.profile-image {
    height: 40px;
    width: 40px;
    background-color:  rgb(214, 213, 213);
    border-radius: 50%;
}
.profile-name {
    padding: 15px;
}

        /* FIRST SECTION STYLING STARTS HERE */

        .my_first_section {
        display: flex;
        justify-content: center;
        }
        .new-design-container {
            width: 50%;
            height: 50px;
            margin-top: 150px;
        }
        .new-design-paragraph {
            padding: 12px;
            text-align: center;
            font-weight: bold;
            font-size: 2.5rem;
            background: linear-gradient(
            to right, #4E0250, #0075f2);
            -webkit-text-fill-color: transparent;
           -webkit-background-clip: text;
        }
        
        /* SECOND SECTION STYLING STARTS HERE */

        .my_second_section {
            display: block;
            margin-top: 70px;
        }
        .button-area {
            margin: auto;
            width: 20%;
            height: 100px;
        }
        .self_button {
           background: none;
            padding: 15px;
            width: 100%;
            border: 1px solid gray;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
        }
        .self_button:hover {
            background-color: #0075f2;
            color: #fff;
            font-size: 1rem;
        }
       #second_button_div {
      margin-top: -20px;
       }

       /* THIRD SECTION STYLING STARTS HERE */
       .my_third_section {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        justify-content: flex-end;
       }
       .next-button {
         width: 20%;
         height: 50px;
         margin-top: 30px;
       }
       .next-button a {
        text-decoration: none;
        color: black;
       }
       .next {
        width: 30%;
        padding: 10px;
        background-color: rgb(214, 213, 213);
        border: none;
        font-size: 1rem;
        font-weight: bold;
       }
       .next:hover {
        background-color: #0075f2;
        color: #fff;
        font-size: 1rem;
    }
    .prev {
        width: 30%;
        padding: 10px;
        background-color: rgb(214, 213, 213);
        border: none;
        font-size: 1rem;
        font-weight: bold;
       }
       .prev:hover {
        background-color: #0075f2;
        color: #fff;
        font-size: 1rem;
    }


         /* THIS STYLING IS FOR THE CHOOSE.HTML PAGE  */


         .my_first_section {
            display: flex;
            justify-content: center;
            }
            #new-design-container {
                width: 65%;
                height: 50px;
                margin-top: 20px;
            }
            .choose-second-section {
                display: flex;
                flex-direction: row;
                width: 90%;
               justify-content: space-between;
              
            }
            .selection-div {
                height: 300px;
                width: 255px;
                margin-top: 50px;
            }
            #first-selection-div  {
                margin-left: 150px;
            }
            .choose_website {
                height: 60px;
                width: 100%;
                margin-top: 15px;
            }
            .buton_area {
                padding: 12px;
                border: 1px solid gray;
                width: 100%;
                border-radius: 5px;
                background: none;
            }
            .buton_area:hover {
                background-color: #0075f2;
                color: #fff;
                font-size: 1rem;
            }
           
          
            /* THIS STYLING IS FOR FINISH.HTML PAGE */
            .finish-second-section {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 90%;
               margin-top: 50px;
            }
            #finish-second-section-container {
                margin-left: 150px;
            }
            .finish-second-section-container {
                height: 300px;
                width: 30%;
            }
            .BName {
                width: 100%;
                height: 50px;
                margin-top: 10px;
                margin-top: 30px;
            }
            .BName input {
                width: 100%;
              border-radius: 5px;
                padding: 10px;
                border-color: gray;
                opacity: 0.5;
            }
            .next-button {
                margin-top: 80px;
            }
            .buton_area a {
                text-decoration: none;
                color: black;
            }

            /* THIS STYLING IS FOR ANOTHER.HTML PAGE */
            .image-bar {
                display: flex;
                margin-top: 100px;
                width: 70%;
                margin: auto;
                gap: 100px;
            }
            .bar {
                display: flex;
                height: 300px;
                width: 60%;
                border: 1px solid gray;
                border-radius: 5px;
                align-items: center;
                justify-content: center;
                margin-top: 100px;
                margin-left: 100px;
             
            }
           .upload-image {
            margin-top: 250px;
            width: 20%;
           }

             /* THIS STYLING IS FOR KEEPGOING.HTML PAGE */
            
             .second-image-container {
                display: flex;
                flex-direction: row;
                gap: 5px;
                justify-content: center;
              margin-top: 300px;
             }
             .class2 {
                width: 10px;
                height: 10px;
                background-color: #12B76A;
             }
             .second-image-div p {
                text-align: center;
                color: #12B76A;
                font-size: 0.5rem;
                padding: 5px;
                font-weight: bold;
             }

               /* THIS STYLING IS FOR UPDATED.HTML PAGE */
              .updated-image {
                display: flex;
                flex-direction: row;
                justify-content: center;

              }
              .updated-image img {
                width: 10%;
              }

                /* THIS STYLING IS FOR COMPLETE.HTML PAGE */
              .cancel {
                background-color: red;
                color: white;
                width: 30%;
                padding: 10px;
                border: none;
                font-size: 1rem;
                font-weight: bold;
              }

                 /* THIS STYLING IS FOR SUCCESS.HTML PAGE */
                 .image-area-div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 150px;
                 }
                 .image-area-div img {
                    width: 5%;
                 }
                 .Image_area p {
                    text-align: center;
                    padding: 15px;
                    font-size: 0.7rem;
                 }




            @media screen and (max-width:1024px) {
                .nav-area {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                  }
                  .logo-area {
                    height: 30px;
                    width: 50%;
                  }
                  .logo {
                    width: 70px;
                    margin-left: 40px;
                  }
                  .profile-area {
                    border: none;
                    height: 45px;
                    width: 50%;
                    margin-right: 200px;
                    border: 1px dashed gray;
                  }
                  .button-area {
                    margin-top: -20px;
                  width: 30%;
                }
                .next-button {
                    margin-top:5px;
                }
                .next {
                    font-size: 1rem;
                    padding: 10px;
                    width: 50%;
                }
                .prev {
                    font-size: 1rem;
                    padding: 10px;
                    width: 50%;
                    margin-bottom: 10px;
                }
            }


            @media screen and (max-width:700px) {
                .nav-area {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                  }
                  .logo-area {
                    height: 30px;
                    width: 50%;
                  }
                  .logo {
                    width: 70px;
                    margin-left: 40px;
                  }
                  .profile-area {
                    border: none;
                    height: 20px;
                    width: 50%;
                    margin-right: 200px;
                  }
                  .profile-name {
                    font-size: 0.8rem;
                    padding: 20px 4px 0 0;
                   }
                    .profile-image {
                        width: 50px;
                      background: none;
                    }
                    .image-profile {
                        width: 100%;
                    }
                .new-design-paragraph {
                    font-size: 2rem;
                    text-align: center;
                }
                .my_second_section {
                    margin-top: 0;
                }
                .button-area {
                    width: 35%;
                    height: 70px;
                    margin-top: 25px;
                }
                #first-button-area {
                    margin-bottom: 20px;
                }
                .self_button {
                    padding: 10px;
                    font-size: 1rem;
                }
                .my_third_section {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .next-button {
                    margin-top:20px;
                }
                .next {
                    font-size: 1rem;
                    padding: 10px;
                    width: 100%;
                }
                .prev {
                    font-size: 1rem;
                    padding: 10px;
                    width: 100%;
                    margin-bottom: 10px;
                }
             }

             @media screen and (max-width:745px) {
                .new-design-paragraph {
                    font-size: 1.5rem;
                    text-align: center;
                }
             }

             @media screen and (max-width:640px) {
                .new-design-paragraph {
                    font-size: 1.5rem;
                    text-align: center;
                }
             }

             @media screen and (max-width:540px) {
                .new-design-paragraph {
                    font-size: 1.5rem;
                    text-align: center;
                }
             }


            @media screen and (min-width:320px) and (max-width:500px) {
                
                  .nav-area {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                  }
                  .logo-area {
                    height: 30px;
                    width: 50%;
                  }
                  .logo {
                    width: 50px;
                    margin-left: 40px;
                  }
                  .profile-area {
                    border: none;
                 height: 20px;
                 width: 50%;
                 margin-right: 200px;
                  }
                  .profile-name {
                    font-size: 0.7rem;
                    padding: 10px 4px 0 0;
                   }
                    .profile-image {
                        width: 30px;
                      background: none;
                    }
                    .image-profile {
                        width: 100%;
                    }
                    .new-design-paragraph {
                        font-size: 1.4rem;
                        text-align: center;
                    }
                    .new-design-container {
                        margin-top: 100px;
                    }
                    .my_second_section {
                        margin-top: 0;
                    }
                    .button-area {
                        width: 35%;
                        height: 70px;
                        margin-top: 10px;
                    }
                    .self_button {
                        padding: 10px;
                        font-size: 1rem;
                    }
                    .my_third_section {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                    .next-button {
                        margin-top:20px;
                    }
                    .next {
                        font-size: 1rem;
                        padding: 10px;
                        width: 100%;
                    }
                    .prev {
                        font-size: 1rem;
                        padding: 10px;
                        width: 100%;
                        margin-bottom: 10px;
                    }

             }


             @media screen and (max-width:480px) {
                .new-design-paragraph {
                    font-size: 1.2rem;
                    text-align: center;
                }
             }

             @media screen and (max-width:420px) {
                .new-design-paragraph {
                    font-size: 1.1rem;
                    text-align: center;
                }
             }

             
             @media screen and (max-width:387px) {
                .new-design-paragraph {
                    font-size: 0.9rem;
                    text-align: center;
                }
             }

             
            @media screen and (max-width:320px) {
                .nav-area {
                 width: 100%;
                 display: flex;
               flex-direction: row;
               justify-content: space-around;
                }
                .logo-area {
                 height: 20px;
                 width: 50%;
                 margin-left: 60px;
                }
                .logo {
                 width: 100%;
                  margin-left: 40px;
                }
                .profile-area {
                border: none;
                 height: 20px;
                 width: 50%;
                 margin-right: 100px;
                }
                .profile-name {
                 font-size: 0.5rem;
                 padding: 10px 4px 0 0;
                }
                 .profile-image {
                     width: 30px;
                   background: none;
                 }
                 .image-profile {
                     width: 100%;
                 }
                 .new-design-paragraph {
                     font-size: 0.8rem;
                     text-align: center;
                 }
                 .new-design-container {
                     margin-top: 100px;
                 }
                 .my_second_section {
                     margin-top: 0;
                 }
                 .button-area {
                     width: 30%;
                     height: 70px;
                      /* background-color: gray; */
                 }
                 .self_button {
                     padding: 10px;
                     font-size: 0.5rem;
                 }
                 .my_third_section {
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                 }
                 .next-button {
                     margin-top:-10px;
                 }
                 .next {
                     font-size: 0.5rem;
                     padding: 10px;
                     width: 100%;
                 }
                 .prev {
                    font-size: 0.5rem;
                    padding: 10px;
                    width: 100%;
                    margin-bottom: 10px;
                }
             }
 