<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MY_CMS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'about/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'about/css/media.css' %}">
  <script src="{% static 'about/js/script.js' %}"></script>
</head>

<body>
  <header>
    <nav class="nav_container">
      <div class="logo">
        <img src="{% static 'about/images/Frame 206.png' %}" alt="" class="cmslogo" />
      </div>
      <div class="navbar" id="myNavbar">
        <a href="{% url 'home' %}" class="home">Home</a>
        <a href="#ABOUT" class="about">About us</a>
        <a href="{% url 'home' %}#CONTACT" class="contact">Contact us</a>
        <a href="{% url 'home' %}#SERVICES" class="services1">Services</a>
        <a href="#pricing" class="pricing">Pricing</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>

          {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="sign_in">Sign in</a>
            <a href="{% url 'signup' %}" class="register">Register</a>
          {% else %}
              <a href="{% url 'logout' %}" class="sign_in">Logout</a>
          {% endif %}


      </div>


      </div>
    </nav>
  </header>
  <main>
    <section class="pagetitle">
      <h1 class="title">About <span>MyCMS</span></h1>
    </section>
    <section class="about_text">
      <div class="about_text_container">
        <p class="para1">
          MyCMS is a Content Management System which helps users with build responsive websites easily either for
          personal use or for an organisation.
          With more than 10 thousand free editable templates readily available, users with little or no experience in
          coding can build their very own blogs, portfolios, online stores and so on.<br>
          <strong>what makes MyCMS unique? </strong>
          Our security architecture is unrivaled.
          A wide range of templates that allow users create, edit, test and copy codes in the easiest way possible.
          With MyCMS, there is no limit to what
          you can build.
          Our goal is to remove any technical or financial barriers that can prevent you from making your own website.
          Our powerful tools empower individuals and business owners to create a website, sell online, or reach global
          audiences. Whether you're a beginner or website expert, we're excited to help you on your journey!
        </p>
        <a href="{% url 'template' %}" target="_blank">Checkout our templates</a>
      </div>
      <div class="about_text_container2">
        <h3 class="sub_head1">Our Mission</h3>
        <p class="para2">Our team started in the web hosting industry. After a few years, we discovered there were too
          many challenges to making a website. Traditional web hosting services were complicated and expensive to
          manage.
          Seeing a need for simplicity, the MyCMS site builder was born. We wanted to offer a website building platform
          that would require no coding skills or design experience, with everything needed to get published online. You
          can simply focus on creating an amazing website that reflects your brand.
          After seeing an increased need for ecommerce solutions, we developed one of the only fully-featured, free and
          commission-free online store builders. As our global userbase grew, we expanded our editor with the ability to
          make multilingual websites.</p>
      </div>
    </section>
    <section class="values">
      <h3 class="sub_head2">Our Values</h3>
      <div class="value1">
        <h3>150M+ <br> CUSTOMERS</h3>
        <div class="value_content">
          <h5>Every Individual Deserves a Website</h5>
          <p>We believe every individual should have the power to create their own website or online store. If you can
            point and click, you can make a professional website or online store using our free and intuitive tools.</p>
        </div>
      </div>
      <div class="value2">
        <h3>70k <br>USERS</h3>
        <div class="value_content">
          <h5>Our Customers Mean the World</h5>
          <p>At MyCMS, we strive to provide exactly what you need for your website to succeed. A huge part of our
            research and development process is looking at customer feedback to ensure you're well taken care of.</p>
        </div>
      </div>
      <div class="value3">
        <h3>113K <br>WEBSITES </h3>
        <div class="value_content">
          <h5>In-House Made</h5>
          <p>We are personally committed to delivering the very best site building tools. Everything, from customer
            support to product design, web hosting and development, is provided by our dedicated (and adorable) team in
            Lagos.</p>
        </div>
      </div>
    </section>
    <section class="team">
      <div class="team_container">
        <h3 class="sub_head3">MyCMS Team</h3>
        <div class="team1">
          <figure>
            <img src="{% static 'about/images/Tobe (1).png' %}" alt="">
            <figcaption class="figcap1">Babasola Richard</figcaption>
            <figcaption class="figcap2">Team leader/ Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Dhera.png' %}" alt="">
            <figcaption class="figcap1">Adeoye Faith</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Emarc.png' %}" alt="">
            <figcaption class="figcap1">Wizard of Old</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Shukurat.png' %}" alt="">
            <figcaption class="figcap1">Amy</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
        </div>
        <div class="team2">
          <figure>
            <img src="{% static 'about/images/David.png' %}" alt="">
            <figcaption class="figcap1">Wisdom</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Khadijat.png' %}" alt="">
            <figcaption class="figcap1">Uduak</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Musty.png' %}" alt="">
            <figcaption class="figcap1">Obeta Emmanuel</figcaption>
            <figcaption class="figcap2">Developer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Roosevelt.png' %}" alt="">
            <figcaption class="figcap1">Success</figcaption>
            <figcaption class="figcap2">Developer</figcaption>
          </figure>
        </div>
        <div class="team3">
          <figure>
            <img src="{% static 'about/images/Oluji.png' %}" alt="">
            <figcaption class="figcap1">Emmanuel Osilo</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Ope.png' %}" alt="">
            <figcaption class="figcap1">Oyeniyi Adewale</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Ekene.png' %}" alt="">
            <figcaption class="figcap1">Joshua Adebisi</figcaption>
            <figcaption class="figcap2">Designer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Zainab.png' %}" alt="">
            <figcaption class="figcap1">Chiamaka Miriam</figcaption>
            <figcaption class="figcap2">Developer</figcaption>
          </figure>
        </div>
        <div class="team4">
          <figure>
            <img src="{% static 'about/images/Cokes.png' %}" alt="">
            <figcaption class="figcap1">Tech_Sis</figcaption>
            <figcaption class="figcap2">Developer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Tomi.png' %}" alt="">
            <figcaption class="figcap1">Sonia Biose</figcaption>
            <figcaption class="figcap2">Developer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Aminu.png' %}" alt="">
            <figcaption class="figcap1">Abdulazeez Nuhu</figcaption>
            <figcaption class="figcap2">Developer</figcaption>
          </figure>
          <figure>
            <img src="{% static 'about/images/Ruth.png' %}" alt="">
            <figcaption class="figcap1">Chimatara Kalu</figcaption>
            <figcaption class="figcap2">Developer</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <section class="foot_sec1">
      <div class="foot_text">
        <p class="text1">You can't afford to miss out!</p>
        <p class="text2">Subscribe to latest news, offers and updates. No spam.</p>
      </div>
      <div class="subscribe">
        <form action="#">
          <input type="email" id="Email" placeholder="Enter email">
          <button>Subscribe</button>
        </form>
      </div>
    </section>
    <section class="foot_sec2">
      <div class="foot_sec2_container">
        <div class="icon">
          <img src="{% static 'about/images/Frame 206.png' %}" alt="" class="icon_logo">
          <div class="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
          </div>
          <p>My CMS</p>
          <p>Copyright &copy; 2022 all rights reserverd</p>
        </div>
        <div class="links">
          <h6>Quick links</h6>
          <a href="#build">Build</a>
          <a href="#">Business</a>
          <a href="#PRICING">Pricing</a>
          <a href="#SERVICES">Services</a>
          <a href="#FAQ">FAQs</a>
        </div>
        <div class="contact">
          <h6>Contact us</h6>
          <p>
            <i class="fa fa-map-marker"></i> Infomation technologies building,
            Victoria Island, Lagos, Nigeria.
          </p>
          <p><i class="fa fa-phone"></i> +234 811-234-5678 </p>
          <p><i class="fa fa-envelope-o"></i> mycms@gmail.com</p>
        </div>
      </div>
    </section>
  </footer>


</body>

</html>