<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo-contents">
          <div>
            <img src="https://i.postimg.cc/0ykzKJWV/cms-2-plain-white.png" alt="csm" class="image-logo" style="width:60px">
            </div>
        
     </div>
          <ul class="nav-links">
            <li>
              <a href="#" class="active">
                <i class='bx bx-grid-alt' ></i>
                <span class="links_name">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-bar-chart' ></i>
                <span class="links_name">My Site</main></span>
              </a>
            </li>
            <li>
              <a href="{% url 'template' %}">
                <i class='bx bx-pie-chart-alt-2' ></i>
                <span class="links_name">Templates</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-coin-stack' ></i>
                <span class="links_name">Hosting</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-book-alt' ></i>
                <span class="links_name">Hire a prof</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bxl-facebook-square' ></i>
                <span class="links_name">Socials</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bxs-circle' ></i>
                <span class="links_name">Buttons</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
    
              </a>
          </li>
          </ul>
      </div>
 <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <form action="#" target="_blank">
              <button type="button"> + Create your website </button></form></div>
          </form>
          <p><h1> Welcome, {{ user.first_name }}</h1></p>
          </div>
          <div class="profile-details">
            <img src="{% static 'dashboard/images/Emarc.png' %}" alt="#">
            <span class="admin_name">{{ user.first_name }} {{ user.last_name }}</span>
          </div>
        </nav>

        <section class="home-content">
            <div class="overview-boxes">
              <div class="box">
                <div class="right-side">
                  <div class="box-details"><h3>Trending templates</h3></div>
   <img class="image" src="https://i.postimg.cc/5tfcHQB8/dashboard-pix.png" alt=""  align= "right">
                  <div class="text"></div>
<p>Explore templates to create a theme that suits your  website goals.</p>
       <a href="{% url 'template' %}">
              <button type="button"> View more </button></a></div>
                  
                    </div>
                    </div>
                    </div

        <section class="home-content">
            <div class="overview-boxes">
                <div class="btns">

 <div class="right-side">
                  <div class="box-details"><h3>Quick Action</h3></div>
          
           <button class="btn1" id="images"> + Upload images<input type="file"> </button>
              <button class="btn2" >+ Add pages to site</button>
           <button class="btn1" >+ Social buttons </button>
             <button class="btn1" >+ Add contact info</button>
             <button class="btn1" >+ Design a logo</button>
             <button class="btn1" >+ Add more themes</button>
             <button class="btn1" >+ Add site admins</button>
             <button class="btn1" >+ Set up SEO</button>
             <button class="btn1" >+ Add layouts</button>
                </ul>
                    </div>
                    </div>
                    </div>
        </section>
          
 <section class="home-content">
            <div class="overview-boxes">
                <div class="recent-activities">
          <div class="title"><h3>Recent  Activities</h3></div>
          <ul class="details">
 <li>
   <a href="#"> <img src="https://i.postimg.cc/GmtFJx9y/Whats-App-Image-2022-11-30-at-10-16-50-AM.jpg" alt="" style="width:40px">      
               
   <span class="activity">Added 3 pages . 1m ago</span> </a></li>

     
             <li><a href="#"> <img src="https://avatars.githubusercontent.com/u/114231973?v=4" alt="" style="width:40px">  
               
               <span class="activity">Added 3 pages . 1m ago</span> </a></li>

                <li><a href="#"> <img src="https://i.postimg.cc/mkxjmXtD/techsis.jpg" alt="" style="width:40px">  
               
                <span class="activity">Uploaded images. 1m ago</span> </a></li>
        
                      <li><a href="#"> <img src="https://avatars.githubusercontent.com/u/114554957?v=4" alt="" style="width:40px">
                  
                     <span class="activity">Designed a logo . 1m ago</span> </a></li>
                     
                            <li><a href="#"> <img src="https://avatars.githubusercontent.com/u/81085609?v=4" alt=""style="width:40px">
                                <span class="activity">Added an admin . 1m ago</span> </a></li>
                
                              <li><a href="#"><img src="https://avatars.githubusercontent.com/u/119754599?v=4" alt="" style="width:40px">
                                    <span class="activity">Added an admin . 1m ago</span> </a></li></ul>
</div>
</div>
 </section>
   
  <sections class="home-content">
    <div class="overview-boxes">
      <div class="sites">
          <div class="title"><h3>Existing Sites</h3></div>
          <ul class="contents">
 <li>
   <a href="#"> <img src="https://i.postimg.cc/nzyDyFbC/freetemplate-1.jpg" alt="" style="width:100px">      
                <button>View </button> </a>
   

     
             <li><a href="#"> <img src="https://i.postimg.cc/sgm5MCSN/33.jpg" alt="" style="width:100px">  
                 <button>View </button> </a>
              </li>

                <li><a href="#"> <img src="https://i.postimg.cc/WzV4mhc6/0-Free-e-Commerce-Website-Templates-For-Creating-Your-Wonderful-S-837x443.jpg" alt="" style="width:100px">  
               
                <button>View </button>  </a></li>
        
                </ul>
</div>
</div>

<script src="{% static 'dashboard/js/script.js' %}"></script>   
</body>
</html>                          
