<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latest Template</title>
    <link rel="stylesheet" href="{% static 'template/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'template/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'template/css/akocity-style.css' %}" />
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'landing/css/media.css' %}">
  </head>

<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img class="logo" src="img/logo2.png" alt="" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1 active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="videos.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="about.html">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="contact.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="btn-add">
                <button class="btn-add-width">Sign In</button>
            </div>
            <button class="btn btn-outline-success btn-add-color">Register</button>
        </div>
    </nav> -->
    <header class="header">
        <nav class="nav_container">
          <div class="logo">
            <a href="{% url 'home' %}">
            <img src="{% static 'landing/images/Frame 206.png' %}" alt="" class="cmslogo" />
            </a>
          </div>
          <div class="navbar" id="myNavbar">
            <a href="{% url 'home' %}" class="contact">Home</a>
            <a href="{% url 'about' %}" class="about us">About us</a>
            <a href="{% url 'contact' %}" class="contact">Contact us</a>
            <a href="{% url 'home' %}#SERVICES" class="services1">Services</a>
            <!-- <a href="#pricing" class="pricing">Pricing</a> -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
              
              {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="sign_in">Sign in</a>
                <a href="{% url 'signup' %}" class="register">Register</a>
              {% else %}
                  <a href="{% url 'logout' %}" class="sign_in">Logout</a>
              {% endif %}
            </div>
         
            
          </div>
        </nav>
      </header>


    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">Portfolio</h2>
        </div>
        <div class="row tm-mb-90">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img src="img/portfolio.jpg" alt="Image" class="img-fluid" />
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class=" tm-video-details">
                    <h3>
                        MyPortfolio
                    </h3>
                    <p class="mb-4">
                        This template is ideal for business that are in search of customers and wish to showcase their
                        work at a
                        glance.
                    </p>
                    <p>
                        It is a fully responsive templates with many plugins that go alongside. Portfolio also renders
                        layouts and
                        blocks more beautiful.
                    </p>
                    <div class="btn-primary2">
                    <div class="">
                        <a href="#" class="btn btn-primary3 tm-btn-bi btn-add-color">Preview</a>
                    </div>
                    <div class="">
                        <a href="{% url 'create.html' %}"></a>" class="btn btn-primary3 tm-btn-bi btn-add-color">Edit</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-feature">
    <div class="portfolio-feature2" >
        <h3>FEATURE 1</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    <div class="portfolio-feature2">
        <h3>FEATURE 2</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    
    <div class="portfolio-feature3">
        <h3>FEATURE 3</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    <div class="portfolio-feature3">
        <h3>FEATURE 4</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    </div>
    <div class="row mb-4">

        <h2 class="col-12 tm-text-primary">More templates from this author</h2>
    </div>

    <div class="row mb-3 tm-gallery">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-01.jpg" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Blog</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">Blog <br> by Akocity</span>
                <span>FREE</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/digilab.webp" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Business</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">Digilab <br> by Akocity</span>
                <span>$125</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/educature.webp" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Education</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">Educature <br> by Akocity</span>
                <span>$300</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/MobApp.webp" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Creative</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">MobApp <br> by Akocity</span>
                <span>$500</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container-fluid, tm-container-content -->

    
    <footer>
        <section class="foot_sec1">
          <div class="foot_text">
            <p class="text1">You can't afford to miss out!</p>
            <p class="text2">Subscribe to latest news, offers and updates. No spam.</p>
          </div>
          <div class="subscribe">
            <form action="#">
              <input type="email" id="Email" placeholder="Enter email">
              <button>Subscribe</button>
            </form>
          </div>
        </section>
        <section class="foot_sec2">
          <div class="foot_sec2_container">
            <div class="icon">
              <img src="{% static 'landing/images/Frame 206.png' %}" alt="" class="icon_logo">
              <div class="icons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-github"></a>
              </div>
              <p>My CMS</p>
              <p>Copyright &copy; 2022 all rights reserverd</p>
            </div>
            <div class="links">
              <h6>Quick links</h6>
              <a href="#build">Build</a>
              <a href="#">Business</a>
              <a href="#PRICING">Pricing</a>
              <a href="#SERVICES">Services</a>
              <a href="#FAQ">FAQs</a>
            </div>
            <div id="CONTACT" class="contact">
              <h6>Contact us</h6>
              <p>
                <i class="fa fa-map-marker"></i> Infomation technologies building,
                Victoria Island, Lagos, Nigeria.
              </p>
              <p><i class="fa fa-phone"></i> +234 811-234-5678 </p>
              <p><i class="fa fa-envelope-o"></i> mycms@gmail.com</p>
            </div>
          </div>
        </section>
      </footer>
    

    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $("body").addClass("loaded");
        });
    </script>
</body>

</html>