<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="css/akocity-style.css" />
</head>

<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img class="logo" src="img/logo2.png" alt="" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1 active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="videos.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="about.html">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="contact.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="btn-add">
                <button class="btn-add-width">Sign In</button>
            </div>
            <button class="btn btn-outline-success btn-add-color">Register</button>
        </div>
    </nav>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">Portfolio</h2>
        </div>
        <div class="row tm-mb-90">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img src="img/portfolio.jpg" alt="Image" class="img-fluid" />
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class=" tm-video-details">
                    <h3>
                        MyPortfolio
                    </h3>
                    <p class="mb-4">
                        This template is ideal for business that are in search of customers and wish to showcase their
                        work at a
                        glance.
                    </p>
                    <p>
                        It is a fully responsive templates with many plugins that go alongside. Portfolio also renders
                        layouts and
                        blocks more beautiful.
                    </p>
                    <div class="btn-primary2">
                    <div class="">
                        <a href="#" class="btn btn-primary3 tm-btn-bi">Preview</a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-primary3 tm-btn-bi">Download</a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-primary3 tm-btn-bi">Save</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-feature">
    <div class="portfolio-feature2" >
        <h3>FEATURE 1</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    <div class="portfolio-feature2">
        <h3>FEATURE 2</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    
    <div class="portfolio-feature3">
        <h3>FEATURE 3</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    <div class="portfolio-feature3">
        <h3>FEATURE 4</h3>
        <p>
            The title is ideal for for businesses that are in search of customers and wish to showcase their work and
            services at a glance.
        </p>
        <p>
            It is a fully responsive template with many plugjs that go alongside. London Broth also renders layouts and
            blocks more beautiful. There must be some sort of copy here that would want to make you go wild.
        </p>
    </div>
    </div>
    <div class="row mb-4">

        <h2 class="col-12 tm-text-primary">More templates from this author</h2>
    </div>

    <div class="row mb-3 tm-gallery">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/img-01.jpg" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Blog</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">Blog <br> by Akocity</span>
                <span>FREE</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/digilab.webp" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Business</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">Digilab <br> by Akocity</span>
                <span>$125</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/educature.webp" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Education</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">Educature <br> by Akocity</span>
                <span>$300</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="img/MobApp.webp" alt="Image" class="img-fluid" />
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Creative</h2>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">MobApp <br> by Akocity</span>
                <span>$500</span>
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    GET NOW
                </button>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container-fluid, tm-container-content -->

    <footer class="pt-5 pb-3 tm-text-gray tm-footer">
        <div class="tm-bg-gray">
            <div class="tm-bg-new">
                <div class="footer-new">
                    <h3>You can't afford to miss out!</h3>
                    <p>Subcribe for the latest news, offers and updates. No spam</p>
                </div>
                <div>
                    <form class="d-flex tm-search-form form-footer">
                        <input class="form-control tm-search-input" type="search" aria-label="Search"
                            placeholder="Enter Email" />
                        <button class="btn btn-outline-success tm-search-btn" type="submit">
                            Subcribe
                        </button>
                    </form>
                </div>
            </div>
            <div class="container-fluid tm-container-small">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                        <h3 class="tm-text-primary mb-4 tm-footer-title">
                            logo
                        </h3>
                        <ul class="tm-social-links d-flex justify-content-left pl-0 mb-5">
                            <li class="mb-2">
                                <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="mb-2">
                                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="mb-2">
                                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="mb-2">
                                <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li class="mb-2">
                                <a href="https://github.com"><i class="fab fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                        <h3 class="tm-text-primary mb-4 tm-footer-title">Quick Links</h3>
                        <ul class="tm-footer-links pl-0">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 px-5 mb-5 text-left">
                        <h3 class="tm-text-primary mb-4 tm-footer-title">
                            Contact us
                        </h3>
                        <p class="tm-text-primary address">information technologies building, victotial island, Lagos,
                            Nigeria
                        </p>
                        <p class="tm-text-primary">+234 081-1234-5678</p>
                        <p class="tm-text-primary"><i class=" tm-text-primary fab fa-message "></i> mycms@gmail.com</p>
                        <p class="tm-text-primary">leave us a message here</p>
                    </div>
                    <div class="row">
                        <div class="tm-text-primary col-lg-8 col-md-7 col-12 px-5 mb-3">
                            c2022, MyCMS
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $("body").addClass("loaded");
        });
    </script>
</body>

</html>