<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latest Template</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="css/akocity-style.css" />
  </head>
  <body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
            <img class=logo src="img/logo2.png" alt="">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link nav-link-1 active"
                aria-current="page"
                href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-2" href="videos.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-2" href="about.html">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-2" href="contact.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-2" href="contact.html">Contact Us</a>
            </li>
            <!-- <li class="nav-item"><button>
              <a class="nav-link nav-link-2" href="contact.html">Sign In</a>
              </button>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-2" href="contact.html">Register</a>
            </li> -->
          </ul>
        </div>
        <div class="btn-add"><button class="btn-add-width">Sign In</button></div>
        <button class="btn btn-outline-success btn-add-color">Register</button>
      </div>
    </nav>

    <!-- <div
      class="tm-hero d-flex justify-content-center align-items-center"
      data-parallax="scroll"
      data-image-src="img/hero.jpg"
    >
      <form class="d-flex tm-search-form">
        <input
          class="form-control tm-search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success tm-search-btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div> -->

    <div  class="tm-hero d-flex justify-content-center align-items-center" >
        <h2>Templates Gallery</h2>
    <p> Give your business a unique look and feel. Choose from over a thousand available templates on Portfolio and customize them to suite your business and personal needs. Templates are always a good starting ground!</div>
    </p>
    
    </div>
    <div
      class=" d-flex justify-content-center align-items-center"
      data-parallax="scroll"
    >
      <form class="d-flex tm-search-form">
        <input
          class="form-control tm-search-input"
          type="search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success tm-search-btn" type="submit">
          Search
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
      <div class="row mb-4">
        <h2 class="col-6 tm-text-primary-1">All Template</h2>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <h3 class="tm-text-primary-1">See all categories</h3>
        </div>
      </div>
      <div class="row tm-mb-90 tm-gallery">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/portfolio.jpg" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Portfolio</h2>
              <a href="photo-detail.html">View more</a>
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Akocity <br />
              by Akocity</span
            >
            <span>$155</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
              GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/img-04.jpg" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Blog</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Blog <br />
              by Akocity</span
            >
            <span>$450</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/digilab.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Business</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Digilab <br />
              by Akocity</span
            >
            <span>$125</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/educature.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Education</h2>
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Educature <br />
              by Akocity</span
            >
            <span>$300</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/MobApp.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Creative</h2>
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >MobApp <br />
              by Chiamaka</span
            >
            <span>$500</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/coffee.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Food/Drinks</h2>
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Coffee <br />
              by Chiamaka</span
            >
            <span>$400</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/imagine.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Business</h2>
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Imagine <br />
              by Chiamaka</span
            >
            <span>$300</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/calvino.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>SEO</h2>
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Calvino <br />
              by Sonia</span
            >
            <span>$200</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/pato.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Restaurant</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Pata <br />
              by Sonia</span
            >
            <span>$250</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/industry.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Industrial</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Industry <br />
              by Sonia</span
            >
            <span>$399</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/finlone.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Finance</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Finlone <br />
              by Emma</span
            >
            <span>$420</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/startup2.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Startup</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Startup2 <br />
              by Emma</span
            >
            <span>$199</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/solmusic.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Music</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Solmusic <br />
              by Emma</span
            >
            <span>$700</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/sportify.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Health/Fitness</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Sportify <br />
              by Kalu</span
            >
            <span>$290</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/selling.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>eCommerce</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light">Selling <br />by Kalu</span>
            <span>$450</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="img/webhost.webp" alt="Image" class="img-fluid" />
            <figcaption
              class="d-flex align-items-center justify-content-center"
            >
              <h2>Web Hosting</h2>
              <!-- <a href="photo-detail.html">View more</a> -->
            </figcaption>
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light"
              >Webhost <br />
              by Kalu</span
            >
            <span>$199</span>
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                GET NOW
            </button>
          </div>
        </div>
      </div>
      <!-- row -->
      <div class="row tm-mb-90">
        <div
          class="col-12 d-flex justify-content-between align-items-center tm-paging-col"
        >
          <a
            href="javascript:void(0);"
            class="btn btn-primary tm-btn-prev mb-2 disabled"
            >Previous</a
          >
          <div class="tm-paging d-flex">
            <a href="javascript:void(0);" class="active tm-paging-link">1</a>
            <a href="javascript:void(0);" class="tm-paging-link">2</a>
            <a href="javascript:void(0);" class="tm-paging-link">3</a>
            <a href="javascript:void(0);" class="tm-paging-link">4</a>
            <a href="javascript:void(0);" class="tm-paging-link">5</a>
          </div>
          <a href="javascript:void(0);" class="btn btn-primary tm-btn-next"
            >Next Page</a
          >
        </div>
      </div>
    </div>
    <!-- container-fluid, tm-container-content -->

    <footer class="pt-5 pb-3 tm-text-gray tm-footer">
      <div class="tm-bg-gray">
        <div class="tm-bg-new">
          <div class="footer-new">
          <h3>You can't afford to miss out!</h3>
          <p>Subcribe for the latest news, offers and updates. No spam</p>
          </div>
          <div>
            <form class="d-flex tm-search-form form-footer">
                <input
                  class="form-control tm-search-input"
                  type="search"
                  aria-label="Search"
                  placeholder="Enter Email"
                />
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                  Subcribe
                </button>
              </form>
          </div>
        </div>
        <div class="container-fluid tm-container-small">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
              <h3 class="tm-text-primary mb-4 tm-footer-title">
                logo
              </h3>
              <ul class="tm-social-links d-flex justify-content-left pl-0 mb-5">
                <li class="mb-2">
                  <a href="https://facebook.com"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <li class="mb-2">
                  <a href="https://twitter.com"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li class="mb-2">
                  <a href="https://instagram.com"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li class="mb-2">
                  <a href="https://linkedin.com"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
                <li class="mb-2">
                  <a href="https://github.com"
                    ><i class="fab fa-github"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
              <h3 class="tm-text-primary mb-4 tm-footer-title">Quick Links</h3>
              <ul class="tm-footer-links pl-0">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
                    <div class="col-lg-3 col-md-6 col-12 px-5 mb-5 text-left">
                      <h3 class="tm-text-primary mb-4 tm-footer-title">
                        Contact us
                      </h3>
              <p class="tm-text-primary address" >information technologies building, victotial island, Lagos, Nigeria </p>
              <p class="tm-text-primary">+234 081-1234-5678</p>
              <p class="tm-text-primary"><i class=" tm-text-primary fab fa-message "></i> mycms@gmail.com</p>
              <p class="tm-text-primary">leave us a message here</p>
          </div>
          <div class="row">
            <div class="tm-text-primary col-lg-8 col-md-7 col-12 px-5 mb-3">
              c2022, MyCMS
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/plugins.js"></script>
    <script>
      $(window).on("load", function () {
        $("body").addClass("loaded");
      });
    </script>
  </body>
</html>
